<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.chcenter">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="Ambulance"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".activities.AmbulancesActivity"></activity>
        <activity android:name=".activities.FreezersActivity" />
        <activity android:name=".Ambulance" />
        <activity android:name=".DoctorDetails" />
        <activity android:name=".activities.FreezerDetails" />
        <activity android:name=".AmbulDetails" />
        <activity android:name=".MorningDoctors" />
        <activity android:name=".activities.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>